*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f8f9fa;
    color:#222;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#0d6efd;
}

.logo h2{
    color:#fff;
}

.navbar ul{
    display:flex;
    list-style:none;
}

.navbar ul li{
    margin:0 15px;
}

.navbar ul li a{
    color:#fff;
    text-decoration:none;
    font-weight:500;
}

.call-btn{
    background:#fff;
    color:#0d6efd;
    padding:10px 20px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    height:90vh;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?auto=format&fit=crop&w=1400&q=80");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.hero-content{
    color:#fff;
}

.hero-content h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:22px;
    margin-bottom:30px;
}

.hero-btn{
    background:#ff9800;
    color:#fff;
    padding:15px 35px;
    border-radius:35px;
    text-decoration:none;
    font-size:18px;
}
